  <div class="center jumbotron">
    <h1>Broaden and Build</h1>

    <h2>"Our actions may be impeded... but there can be no impeding our intentions or dispositions.</h2>
    <h2>Because we can accommodate and adapt, the mind adapts and converts to its own purposes the obstacle to our acting.</h2>
    <h2>The impediment to action advances action. What stands in the way becomes the way." ~ Marcus Aurelius.</h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>