<% provide(:title, 'Daily Tasks') %>

<h1>Maximizing Daily Efficacy</h1>


      <p>1) Wake up at least 1 hour before you have to be at a computer screen. E-mail is the mind killer.</p>

      <p>2) Write down the 3-5 things - and no more - that are making you most anxious and uncomfortable. They're often things that have been punted from one day's to-do list to the next, to the next, to the next, and so on. Most important usually = most uncomfortable, with some chance of rejection or conflict.<p/>

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="task_form">
        <%= render 'shared/task_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Most Important Tasks</h3>
      <%= render 'shared/importantTasksfeed' %>
    </div>
  </div>

<p>3) For each item, ask yourself.
- "If this were the only thing I accomplished today, would I be satisfied with my day?"
- "Will moving this forward make all the other to-do's unimportant or easier to knock off later?"</p>

<p>4) Look only at the items you've answered "yes" to for at least one of these questions.</p>

<p>5) Block out at 2-3 HOURS to focus on ONE of them for today. Let the rest of the urgent but less important stuff slide. It will still be there tomorrow.</p>

<p>6) TO BE CLEAR: Block out at 2-3 HOURS to focus on ONE of them for today. This is ONE BLOCK OF TIME. Cobbling together 10 minutes here and there to add up to 120 minutes does not work.</p>

<p>7) If you get distracted or start procrastinating, don't freak out and downward spiral; just gently come back to your ONE to-do.</p>

<p>- Being busy is a form of laziness-lazy thinking and indiscriminate action.<br>
- Being busy is most often used as a guise for avoiding the few critically important but uncomfortable actions.</p>
