<footer class="footer">
  <small>
    The <a href="http://www.broadenandbuild.com/">Broaden and Build</a>
    by <a href="http://brianhildebrandt.com/">Brian Hildebrandt</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>